[client]
#password	= your_password

# The MySQL server
[mysqld]
init_connect         = 'SET collation_connection = utf8_general_ci'
init_connect         = 'SET NAMES utf8'
character_set_server = utf8
collation_server     = utf8_general_ci
general_log          = ON
general_log_file     = /var/log/mysql/mysqld-sql.log
slow_query_log       = on
slow_query_log_file  = /var/log/mysql/mysqld-slow.log
long_query_time      = 2
binlog_format        = ROW

key_buffer_size = 384M
max_allowed_packet = 1M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M

log-bin=mysql-bin
server-id	= 1

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout